						<h1>Travel Photos</h1>
						<ul><% for(var slug in public["travel-photos"]._data){ %><% if (slug !== "index" ) { %>
							<li><a href="<%= slug %>"><%= public["travel-photos"]._data[slug].title %></a></li><% } } %>
						</ul>
